html body {
	margin-bottom: 50px;
	background: linear-gradient(12deg, #ffffff, #494949);
	background-size: 400% 400%;

	-webkit-animation: AnimationName 10s ease infinite;
	-moz-animation: AnimationName 10s ease infinite;
	animation: AnimationName 10s ease infinite;

	@-webkit-keyframes AnimationName {
   	 0%{background-position:72% 0%}
   	 50%{background-position:29% 100%}
   	 100%{background-position:72% 0%}
	}
	@-moz-keyframes AnimationName {
  	  0%{background-position:72% 0%}
  	  50%{background-position:29% 100%}
  	  100%{background-position:72% 0%}
	}
	@keyframes AnimationName { 
   	 0%{background-position:72% 0%}
   	 50%{background-position:29% 100%}
   	 100%{background-position:72% 0%}
	}
	
}

#mainContent {
	font-size: 1.3em;
	font-family: 'Cairo', sans-serif;
	color:white
}

#header {
	margin: 5% 0;
}

#contact {
	margin-left: 0;
}

#contenu {
	padding-left: 30px;
}

#button {
 	width:60%;
 	height: 60px;
 	font-size: 1.2em;
}

h1 {
	 color:#e5a912;
	 font-size: 1.3em;
}